.loader {
  border-radius: 50%;
  border: 5px solid var(--placeholder-color);
  border-bottom-color: var(--primary-color);
  animation: Spin 1s infinite linear;
  box-shadow: 0px 0px 1px #000000;
}

.small {
  height: var(--loader-size-small);
  width: var(--loader-size-small);
}

.large {
  height: var(--loader-size-large);
  width: var(--loader-size-large);
}

@keyframes Spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
