.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
}

.logo {
  height: 20px;
  width: 20px;
  border: 2px solid white;
}

.networkState {
  color: white;
  font-size: 12px;
  margin: 0 0 0 5px;
}

.networkStateIcon {
  height: 20px;
  width: 20px;
}

.title {
  margin-left: 10px;
  font-weight: 800;
}
