:root {
  --primary-color: #ff6600;
  --background-color: #f6f6ef;
  --text-color: #828282;
  --link-color: #000000;
  --loader-size-small: 15px;
  --loader-size-large: 30px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-center {
  text-align: center;
}

.app__empty-view__emoji {
  font-size: 45px;
  margin: 0 0 20px 0;
}

.app__empty-view__title {
  font-size: 20px;
  font-weight: 800;
  margin: 0 0 10px 0;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px;
}

.app__header--left {
  display: flex;
  align-items: center;
}

.app__header__logo {
  height: 20px;
  width: 20px;
  border: 2px solid white;
}

.app__header__network-state__icon {
  height: 20px;
  width: 20px;
}

.app__header__network-state {
  color: white;
  font-size: 12px;
  margin: 0 0 0 5px;
}

.app__header__title {
  margin-left: 10px;
  font-weight: 800;
}

.app__stories__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app__stories__story {
  padding: 10px;
}

.app__stories__story__link {
  color: var(--link-color);
  font-size: 16px;
}

.app__stories__story__author {
  color: var(--text-color);
  margin: 5px 0 0 0;
  font-size: 12px;
}

.app__loader {
  border-radius: 50%;
  border: 5px solid var(--background-color);
  border-bottom-color: var(--primary-color);
  animation: Spin 1s infinite linear;
  box-shadow: 0px 0px 1px #000000;
}

.app__loader--small {
  height: var(--loader-size-small);
  width: var(--loader-size-small);
}

.app__loader--large {
  height: var(--loader-size-large);
  width: var(--loader-size-large);
}

.app__infinite-scroll {
  position: relative;
  max-height: calc(100vh - 65px);
  overflow-y: scroll;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

.app__infinite-scroll__footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: 14px;
  margin: 20px 0;
}

.app__infinite-scroll__footer__container__loader {
  position: fixed;
  bottom: 20px;
  left: 50%;
}

.text--ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes Spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
